
header{
	width: 100%;
}

.navbar-cabecera{
	background-color: black;
}


.container-fluid{
	margin-right: 20px;
	margin-left: 20px;
}

.jumbotron{
	background-color: #fff;
}


.container{
	width: 90%;
}

.list-group-item{
	text-transform: capitalize;
}

.item img{
	width: 100%;
}

.img-detalle{
	border: 1px solid #eee;
	border-radius: 5px;
}

.modal-body ul{
	display: inline-block;
}

.modal-body ul li{
	list-style: none;
	padding: 5px;
}

.modal-body ul li a{
	text-decoration: none;
	margin-right: 5px;
}

.tab-comentarios p{
	border: 1px solid #C1CDCD;
	border-radius: 3px 3px 0 0;
	padding: 10px;
}

.input-cant{
	width: 50px;
}

/*
- Cuando la ventana se reduce a resolución de teléfonos móviles (menos de 768px), 
el menú principal de navegación se convierte en un ícono que al desplegarse muestra los vínculos "Canasta" y Salir.
 Además, en vez de mostrar tres productos por fila, ahora se muestran dos.
- Cuando la ventana del navegador se reduce a resolución de tabletas (entre 768px y 991px),
 las categorías se ocultan y el campo de búsqueda se muestra encima del carrusel:
*/

@media screen and (min-width: 768px) and (max-width: 991px) { 
	#categorias{
		display: none;
	}
}
